<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Добро пожаловать в profile-manager</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
      }
      .container {
        padding: 20px;
        max-width: 600px;
        margin: auto;
        background: #f9f9f9;
        border-radius: 10px;
      }
      .footer {
        font-size: 12px;
        color: #777;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Рады видеть вас в нашем приложении</h2>
      <p>Приятного пользования.</p>
      <p class="footer">Это письмо отправлено автоматически, не отвечайте на него.</p>
    </div>
  </body>
</html>
